<%= javascript_include_tag 'exclusive/helpers/bi_dashboard_helper' %>
<%= javascript_include_tag 'exclusive/geolocation' %>
<%= javascript_include_tag 'exclusive/helpers/filters_helper' %>




<div class="row main_row">
  <div class="col-sm-2 well column1">
    <div class='row'>
      <div class='col-md-12'>
        <div class="plBarDiv1_filters">
          <div class="row">
            <select class="selectFilter" id="filter1" style="max-width:140px;">
              <option>
                Select Filter 1
              </option>
            </select>
          </div>
          <div class="row">&nbsp;</div>
          <input type="checkbox" id="filter1_options_select_all" checked="false" disabled/> Select All SubFilter 1 Options
          <div class="row">
            <select class="selectSubFilter" id="filter1_options" multiple="multiple" disabled style="max-width:140px;">
              <option value="placeholder_text">
                Select Filter 1 Options
              </option>
            </select>
          </div>
          <div class="row">&nbsp;</div>
          <div class="row">
            <select class="selectFilter" id="filter2" style="max-width:140px;">
              <option>
                Select Filter 2
              </option>
            </select>
          </div>
          <div class="row">&nbsp;</div>
          <hr/>
          <input type="checkbox" id="filter2_options_select_all" checked="false" disabled/> Select All SubFilter 2 Options
          <div class="row">
            <select class="selectSubFilter" id="filter2_options" multiple="multiple" disabled style="max-width:140px;">
              <option value="placeholder_text">
                Select Filter 2 Options
              </option>
            </select>
          </div>
          <div class="row">&nbsp;</div>
          <div class="row">
            <label for="default_union"><input id="default_union" type="radio" name="mutually_inclusive_or_exclusive" value="default" checked/>Default(Union)</label>
            <br/>
            <label for="intersection"><input id="intersection" type="radio" name="mutually_inclusive_or_exclusive" value="intersection" />Intersection</label>
          </div>
          <div class="row">&nbsp;</div>
          <hr/>
          <div class="row">
            <select class="selectFilter" id="filter3" style="max-width:140px;">
              <option>
                GroupBy
              </option>
            </select>
          </div>
          <div class="row">&nbsp;</div>
          <div class="row">
            <p> Default Selection "AddToSet" shows Duplicates</p>
            <select class="selectFilter" id="filter4" style="max-width:140px;">
              <option>
                AddToSet
              </option>
            </select>
          </div>
          <div class="row">&nbsp;</div>
          <div class="row">
            <label for="plot_wo_map"><input id="plot_wo_map" type="radio" name="map_selection" value="default" checked/>No Map Required</label>
            <br/>
            <label for="plot_with_map"><input id="plot_with_map" type="radio" name="map_selection" value="plot_with_map" />Generate Map</label>
          </div>
          <div class="row">&nbsp;</div>
          <button id="generate_plBarDiv1" class="btn btn-primary">
            Plot
          </button>
          <button id= "viewDataButton" data-toggle="modal" data-target="#viewModal" class="btn btn-success">
           View Data
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-10">
    <div class="row">
      <div class="col-md-6 well no-margin-bottom black-outline first_row_by_2">
        <div id="static_plBarDiv1"><!-- Plotly chart will be drawn inside this DIV -->
        </div>
      </div>
      <div class="col-md-6 well no-margin-bottom black-outline second_row_by_2">
          <div id="static_plBarDiv2"><!-- Plotly chart will be drawn inside this DIV -->
          </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 well no-margin-bottom black-outline second_row_by_3">
        <div id="mapid">
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal View Data-->
<div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document" style="min-width: 900px">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel"></h4>

    <div id="viewDataTableDiv" class="display" style="width:100%; overflow-x: auto;">
    </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag 'exclusive/select2.min' %> <!-- load page specific JS !-->
<%= javascript_include_tag 'exclusive/plotlyBarChart' %> <!-- load page specific JS !-->
<%= javascript_include_tag 'exclusive/bidashboard' %> <!-- load page specific JS !-->

